.light-gray-bg .closebutton{position:absolute;top:0;right:0;font-size:16px;color:#fff;padding:0 3px;border:0;outline:0;box-shadow:none;width:25px;height:25px;line-height:8px;font-weight:bold;cursor:pointer}

.song-upload-frame i.fa-trash-alt{vertical-align:top;padding:10px;cursor:pointer}